* {
  margin: 0%;
  padding: 0%;
}

.headerContainer {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}
.headerLink {
  display: flex;
  border: 1px solid black;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}
.newsContainer {
  border: 1px solid black;
  min-height: 90vh;
  width: 100%;
}
